#Navigation {
  position: relative;
  #logo {
    position: absolute;
    top: 4.6rem;
    left: 5rem;
    font-size: 1.8rem;
    span {
      color: $classic_grey;
    }
  }
  #navigation_section {
    height: 11rem;
    // ?  main-header container-> graphical representation
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    #navigation_section_header {
      #navBar {
        ul {
          margin-right: 16rem;
          width: 100%;
          //   ul-> graphical representation
          //   background-color: blue;
          list-style: none;
          display: flex;

          li {
            margin: 0.2rem 3.8rem;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
