//?homepage toast 15 s interval CSS
.container-0-2-1 {
  margin-top: 10rem;
}

.dismissable-0-2-23 {
  color: white;
  background-image: linear-gradient(40deg, #5038ff 0%, #868aff 100%);
  border: none;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
}
