#recoveredPatientBody {
  margin-top: 10rem;
  font-size: 1.7rem;
  input {
    font-size: 1.7rem;
    height: 4rem;
  }
  #recoveredSubmitBtn {
    width: 100%;
    font-size: 1.8rem;
    padding: 0.5rem 2rem;
  }
}
